<div class="container">
  <h1>Survey Builder</h1>
  <hr />
  <% if first %>
    <h3><strong>1. Build Survey</strong> | 2. Add Questions</h3>
  <% else %>
    <h3>1. Build Survey | <strong>2. Add Questions</strong></h3>
  <% end %>
</div>
